html {
  margin: 0 auto;
  width: 100%;
}

body {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.navbar-title {
  font-family: "Fugaz One", cursive;
  font-size: 36px;
}

.nav-link-text {
  margin: 0 15px;
  color: #000;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
}

.nav-link-text:active {
  color: #ff8800;
}

.nav-link-text:hover {
  color: #ff8800;
  text-decoration-line: none;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 768px;
  min-height: 400px;
  height: 600px;
  background-image: url(../img/bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.head-highlight {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.img-bg {
  width: 100%;
  height: 100%;
}

.head-text {
  z-index: 1;
  font-size: 60px;
  font-family: "Squada One", cursive;
  color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.words {
  color: #fff;
}

.words-colored {
  color: #ff8800;
  line-height: 0.8;
}

.second {
  margin-top: 100px;
  width: 100%;
  height: 270px;
}

.second-text {
  font-family: "Squada One", cursive;
  font-size: 30px;
}

.card-container {
  position: relative;
}

.card-image {
  transition-duration: 0.3s;
}

.card-image:hover {
  transform: scale(1.3, 1.3);
  transition-duration: 0.3s;
}

.img-arrow {
  position: absolute;
}

.img-arrow-first {
  transform: scaleY(-1) rotate(-40deg);
  top: -50px;
  right: -70px;
}

.img-arrow-second {
  transform: rotate(-40deg);
  bottom: -50px;
  right: -70px;
}

.img-arrow-third {
  transform: scaleY(-1) rotate(-40deg);
  top: -50px;
  right: -70px;
}

.third {
  margin-top: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.blacklayer {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  background-image: url(../img/search.png);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin: 0 15px;
  box-sizing: border-box;
}

.cards-block {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
}

.cards-block:hover .blacklayer {
  display: block;
}

.cards-slider {
  display: none;
  width: 100%;
  height: 100%;
}

.img-portfolio {
  width: 100%;
  height: 100%;
}

.carousel-item .img-portfolio {
  height: 40vw;
  object-fit: cover;
}

.fourth {
  border-top: 2px solid black;
  width: 100%;
  height: 100px;
  max-height: 200px;
  min-height: 75px;
  margin-top: 50px;
}

.contacts {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.phone {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  color: #000000;
}

.phone:hover {
  text-decoration-line: none;
  color: #ff8800;
}

.phone:active {
  text-decoration-line: none;
  color: #ff8800;
}

.email {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  color: #000000;
}

.email:hover {
  text-decoration-line: none;
  color: #ff8800;
}

.email:active {
  text-decoration-line: none;
  color: #ff8800;
}

@media screen and (max-width: 1200px) {
  .img-arrow {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .navbar-title {
    font-size: 24px;
  }
  .navbar-title img {
    width: 30px;
    height: 30px;
  }
  .head-text {
    font-size: 42px;
  }
  .cards {
    display: none;
  }
  .cards-slider {
    display: flex;
  }
  .img-portfolio {
    min-height: 300px;
    height: 56vw;
    object-fit: cover;
  }
  .second {
    margin-top: 50px;
    height: 400px;
  }
  .third {
    margin-top: 50px;
  }
}

@media screen and (max-width: 720px) {
  .email, .phone {
    font-size: 14px;
  }
}
