html {
  margin: 0 auto;
  width: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(../img/bg.jpg);
}

.navbar-title {
  font-family: "Fugaz One", cursive;
  font-size: 36px;
}

.nav-link-text {
  margin: 0 15px;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
}

.nav-link-text:active {
  color: #ff8800;
}

.nav-link-text:hover {
  color: #ff8800;
  text-decoration-line: none;
}

.logo {
  filter: invert(1);
}

.first {
  background-color: #000;
}

.head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 400px;
  height: 110vh;
  object-fit: cover;
}

.head-highlight {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/bg0.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}

.img-bg {
  width: 100%;
  height: 100%;
}

.head-text {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  font-size: 48px;
  font-family: "Libre Baskerville", serif;
  color: #fff;
  font-weight: 600;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  padding: 0px 250px;
}

.head-text::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, #faf9f877, transparent);
  z-index: 100000;
}

.words {
  width: 100%;
  color: #fff;
  margin-top: 50px;
}

.words-colored {
  color: #ff5e00;
  line-height: 0.8;
}

.second {
  width: 100%;
  height: 100%;
}

.second-text {
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}

.second-container {
  padding: 70px 0;
  background-color: #faf9f8c0;
  height: 100%;
}

.second::before {
  content: '';
  position: absolute;
  bottom: top;
  width: 100%;
  height: 3px;
  background: linear-gradient(to bottom, #faf9f8c0, transparent);
  z-index: 100000;
}

.card-container {
  position: relative;
}

.card-image {
  transition-duration: 0.3s;
}

.card-image:hover {
  transform: scale(1.3, 1.3);
  transition-duration: 0.3s;
}

.img-arrow {
  position: absolute;
}

.img-arrow-first {
  transform: scaleY(-1) rotate(-40deg);
  top: -50px;
  right: -70px;
}

.img-arrow-second {
  transform: rotate(-40deg);
  bottom: -50px;
  right: -70px;
}

.img-arrow-third {
  transform: scaleY(-1) rotate(-40deg);
  top: -50px;
  right: -70px;
}

.third {
  height: 100%;
  background-color: #0000005b;
}

.third-container {
  background-color: #f8f9fac0;
}

.third img {
  height: 500px;
  max-height: 650px;
  width: fit-content;
}

.third-text {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #353535;
}

.third-text-top {
  font-weight: 900;
  font-size: 48px;
  color: #000000;
}

.third-text-company-name {
  font-family: "Fugaz One", cursive;
  font-weight: 400;
  font-size: 48px;
  color: #000000;
}

.third-text-list-item {
  padding: 50px 0;
}

.third-text-list-item-title {
  font-weight: 900;
  font-size: 36px;
  color: #ff5e00;
}

.third-text-list-item-text {
  font-weight: 400;
  font-size: 24px;
  color: #131313;
  margin-top: 10px;
}

.third-text-list-item-container {
  padding: 0px 30px;
}

.third-text-list-item:last-child {
  border-bottom: none;
}

.beer-slider {
  width: 100%;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

.beer-slider img {
  width: 100%;
}

.beer-reveal img {
  width: 100%;
}

#slider1 {
  height: 300px;
}

#slider1 > img {
  height: 300px;
}

.carousel-item {
  width: 100%;
}

.fourth {
  box-shadow: 0px -13px 20px 1px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  background: #f8f9fa;
  padding-bottom: 50px;
}

.fourth-container-first {
  display: block;
}

.fourth-container-second {
  display: none;
}

.prev, .next {
  z-index: 99999;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.blacklayer {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  background-image: url(../img/search.png);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin: 0 15px;
  box-sizing: border-box;
}

.cards-block {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
}

.cards-block:hover .blacklayer {
  display: block;
}

.cards-slider {
  display: none;
  width: 100%;
  height: 100%;
}

.img-portfolio {
  width: 100%;
  height: 100%;
}

.carousel-item .img-portfolio {
  height: 40vw;
  object-fit: cover;
}

.fifth {
  position: relative;
  border-top: 2px solid black;
  width: 100%;
  height: 100px;
  max-height: 200px;
  min-height: 75px;
}

.contacts {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.phone {
  font-size: 24px;
  color: #000000;
}

.phone:hover {
  text-decoration-line: none;
  color: #ff5e00;
}

.phone:active {
  text-decoration-line: none;
  color: #ff5e00;
}

.email {
  font-size: 24px;
  color: #000000;
}

.email:hover {
  text-decoration-line: none;
  color: #ff5e00;
}

.email:active {
  text-decoration-line: none;
  color: #ff5e00;
}

.email-mobile, .phone-mobile {
  display: none;
}

.swiper-container {
  width: 600px;
  height: 100%;
}

.btn-call {
  display: none;
  position: fixed;
  right: 40px;
  bottom: -150px;
  max-width: 70px;
  max-height: 70px;
  min-width: 30px;
  min-height: 30px;
  width: 70px;
  height: 70px;
  background-image: url(../img/phone-call.png);
  background-size: contain;
  border-radius: 50%;
  border: none;
  z-index: 99999;
}

.btn-call:hover {
  animation: shuffling 1s linear;
}

.modal, .modal-open {
  overflow-y: scroll;
  padding: 0 0 !important;
}

.btn-submit {
  display: inline-block;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #ff5e00;
  border: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-submit:hover {
  background: #ff4800;
  border: none;
}

.btn-submit:focus {
  border: none;
  outline: none;
  background: #ff3c00;
}

.btn-custom {
  filter: invert(1);
  background: transparent;
}

.btn-custom:focus {
  outline: none;
}

.clicked {
  animation: clicking 0.25s linear;
}

.animShow {
  animation: fromBottom 0.3s ease-in-out;
}

.animHide {
  animation: toBottom 0.7s ease-in-out;
}

.shuffled {
  animation: shuffling 1s linear;
}

.bgIn {
  animation: bgIn .3s linear;
}

.bgOut {
  animation: bgOut .1s linear;
}

@keyframes fromBottom {
  0% {
    bottom: -150px;
    opacity: 0;
  }
  100% {
    bottom: 40px;
    opacity: 1;
  }
}

@keyframes toBottom {
  0% {
    bottom: 40px;
    opacity: 1;
  }
  100% {
    bottom: -150px;
    opacity: 0;
  }
}

@keyframes clicking {
  0% {
    transform: scale(1, 1);
  }
  49% {
    transform: scale(1.1, 1.1);
  }
  51% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes shuffling {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bgOut {
  0% {
    background: #f8f9fa;
  }
  100% {
    background: #f8f9fa00;
  }
}

@keyframes bgIn {
  0% {
    background: #f8f9fa00;
  }
  100% {
    background: #f8f9fa;
  }
}

@media screen and (max-width: 1200px) {
  .img-arrow {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .navbar-title {
    font-size: 24px;
  }
  .navbar-title img {
    width: 30px;
    height: 30px;
  }
  .navbar-container {
    justify-content: space-between !important;
  }
  .head-text {
    font-size: 42px;
  }
  .third-text-list-item {
    flex-direction: column;
  }
  .third-text-list-item-container {
    order: 1;
    margin-bottom: 25px;
  }
  .beer-slider {
    order: 2;
  }
  .fourth-container-first {
    display: none;
  }
  .fourth-container-second {
    display: block;
  }
  .cards-slider {
    display: block;
  }
  .img-portfolio {
    min-height: 300px;
    height: 56vw;
    object-fit: cover;
  }
  .second {
    height: 400px;
    min-height: 350px;
  }
  .second-container {
    padding-top: 50px;
  }
  .third-container {
    padding-top: 50px;
  }
}

@media screen and (max-width: 720px) {
  .second-text {
    font-size: 18px;
  }
  .email, .phone {
    display: none;
  }
  .email-mobile, .phone-mobile {
    display: flex;
    font-size: 14px;
    color: #000000;
  }
  .email-mobile:hover, .phone-mobile:hover {
    text-decoration-line: none;
    color: #ff5e00;
  }
  .email-mobile:active, .phone-mobile:active {
    text-decoration-line: none;
    color: #ff5e00;
  }
  .btn-call {
    width: 50px;
    height: 50px;
  }
}
