$fontFugaz : 'Fugaz One', cursive
$fontNoto : 'Noto Sans JP', sans-serif
$fontSquada : 'Squada One', cursive
$activeColor : #ff8800
    
    
html
    margin: 0 auto
    width: 100%
    
body
    max-width: 1366px
    width: 100%
    margin: 0 auto

.navbar-title
    font-family: $fontFugaz;
    font-size: 36px

.nav-link-text
    margin: 0 15px
    color: #000
    font-family: $fontNoto;
    font-weight: 300
    &:active
        color: #ff8800
    &:hover
        color: #ff8800
        text-decoration-line: none

.head
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    max-height: 768px
    min-height: 400px
    height: 600px
    background-image: url(../img/bg.jpg)
    background-size: contain
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    background-attachment: fixed
    object-fit: cover
    &-highlight
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        background: rgba(0,0,0,0.5)

.img-bg
    width: 100%
    height: 100%

.head-text
    z-index: 1
    font-size: 60px
    font-family: $fontSquada
    color: #fff
    border-radius: 10px
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    overflow: hidden
    text-align: center
.words
    color: #fff
    &-colored
        color: $activeColor
        line-height: 0.8

.second
    margin-top: 100px
    width: 100%
    min-height: 270px
    &-text
        font-family: $fontSquada
        font-size: 30px
        text-align: center

.card-container
    position: relative

    
.card-image
    transition-duration: 0.3s
    &:hover
        transform: scale(1.3, 1.3)
        transition-duration: 0.3s

.img-arrow
    position: absolute
    &-first
        transform: scaleY(-1) rotate(-40deg)
        top: -50px
        right: -70px
    &-second
        transform: rotate(-40deg)
        bottom: -50px
        right: -70px
    &-third
        transform: scaleY(-1) rotate(-40deg)
        top: -50px
        right: -70px

.third
    margin-top: 50px


.cards
    display: flex
    justify-content: center
    align-items: center
    margin: 10px 0
        
.blacklayer
    display: none
    background: rgba(0,0,0,0.5)
    background-image: url(../img/search.png)
    background-size: 50px 50px
    background-repeat: no-repeat
    background-position: center
    width: 100%
    height: 100%
    position: absolute
    top: 0
    margin: 0 15px
    box-sizing: border-box

.cards-block
    display: flex
    width: 100%
    height: 100%
    position: relative
    justify-content: center
    align-items: center
    transition-duration: 0.3s
    &:hover
        .blacklayer
            display: block

.cards-slider
    display: none
    width: 100%
    height: 100%
            
.img-portfolio
    width: 100%
    height: 100%

.carousel-item .img-portfolio
    height: 40vw
    object-fit: cover

.fourth
    border-top: 2px solid black
    width: 100%
    height: 100px
    max-height: 200px
    min-height: 75px
    margin-top: 50px

.contacts
    width: 100%
    height: 100%
    display: flex
    justify-content: space-around
    align-items: center
    text-align: center
.phone
    font-family: $fontNoto
    font-size: 24px
    color: #000000
    &:hover
        text-decoration-line: none
        color: $activeColor
    &:active
        text-decoration-line: none
        color: $activeColor

.email
    font-family: $fontNoto
    font-size: 24px
    color: #000000
    &:hover
        text-decoration-line: none
        color: $activeColor
    &:active
        text-decoration-line: none
        color: $activeColor

.email-mobile, .phone-mobile
    display: none
    

@media screen and ( max-width: 1200px )
    .img-arrow
        display: none
    

@media screen and ( max-width: 900px )
    .navbar-title
        font-size: 24px
        & img
            width: 30px
            height: 30px
    .head-text
        font-size: 42px
    .card-container

    .cards
        display: none
    .cards-slider
        display: flex
    .img-portfolio
        min-height: 300px
        height: 56vw
        object-fit: cover
    .second
        margin-top: 50px
        height: 400px
        min-height: 350px
    .third
        margin-top: 50px
    
@media screen and ( max-width: 720px )
    .second-text
        font-size: 18px
    .email, .phone
        display: none
    .email-mobile, .phone-mobile
        display: flex
        font-family: $fontNoto
        font-size: 14px
        color: #000000
        &:hover
            text-decoration-line: none
            color: $activeColor
        &:active
            text-decoration-line: none
            color: $activeColor

        
